.titulo:hover {
  background-color: rgba(76, 175, 80, 1);
}
.estudios:hover {
  background-color: rgba(154, 64, 228, 1);
}
.ocio:hover {
  background-color: rgba(164, 66, 25, 1);
}
.leng:hover {
  background-color: rgba(77, 231, 189, 1);
}
.mat:hover {
  background-color: rgba(13, 197, 147, 1);
}
.fyq:hover {
  background-color: rgba(77, 231, 189, 1);
}
.educa:hover {
  background-color: rgba(13, 197, 147, 1);
}
.tecind:hover {
  background-color: rgba(77, 231, 189,1);
}
.tic:hover {
  background-color: rgba(13, 197, 147, 1);
}
.filo:hover {
  background-color: rgba(77, 231, 189, 1);
}
.dt:hover {
  background-color: rgba(13, 197, 147,1);
}
.ingl:hover {
  background-color: rgba(77, 231, 189, 1);
}
.dise:hover {
  background-color: rgba(237, 186, 95, 1);
}
.revista:hover {
  background-color: rgba(233, 213, 52, 1);
}
.videos:hover {
	background-color: rgba(237, 186, 95, 1);
}
.dia:hover {
  background-color: rgba(153, 12, 85, 1);
}
.msg:hover {
  background-color: rgba(138, 218, 15, 1);
}
.bienvenido:hover {
  background-color: rgba(131, 149, 180, 01);
}
.vistas:hover {
  background-color: rgba(154, 64, 228, 1);
}
