.todo {
display: grid;
grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr;
grid-template-rows: 0.2fr .5fr 0.4fr 1fr;
grid-column-gap: 5px;
grid-row-gap: 5px;
text-align: center;
background-image: url('sky.jpg');
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.submenu { 
grid-area: 1 / 1 / 2 / 6; 

}
.titulo { grid-area: 2 / 2 / 3 / 5; 

	background-color: rgba(77, 231, 189, 1);
	border-radius: 25px;
}
.tabla { grid-area: 3 / 2 / 5 / 5; 
	background-color: rgba(76, 175, 80, 1);
	border-radius: 25px;
	}
.uno { grid-area: 3 / 2 / 4 / 3;
	margin:5px; 
	background-color: rgba(77, 231, 189, 1);
	border-radius: 25px;
	}
.dos { grid-area: 3 / 3 / 4 / 4;
	margin:5px; 
	background-color: rgba(77, 231, 189, 1);
	border-radius: 25px;
	}
.tres { grid-area: 3 / 4 / 4 / 5; 
	margin:5px; 
	background-color: rgba(77, 231, 189, 1);
	border-radius: 25px;
	}
.arch1 { grid-area: 4 / 2 / 5 / 3;
background-color:white;
border-radius: 25px;
margin:5px; }
.arch2 { grid-area: 4 / 3 / 5 / 4;
background-color:white;
border-radius: 25px; 
margin:5px;}
.arch3 { grid-area: 4 / 4 / 5 / 5; 
background-color:white;
border-radius: 25px;
margin:5px;}